body {
	font-family: sans-serif;
	font-family: 'Open Sans', sans-serif;
	color: #222;
	margin-top: 5em;
	margin-bottom: 10em;
}

strong {
	font-weight: 600;
}

a {
	color: #2C89A0;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}

#wrapper {
	margin: 0 auto;
	width: 1000px;
	max-width: 100%;
}

header {
	margin-bottom: 3em;
}

#logo {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	line-height: 50px;
	font-size: 3em;
	color: #888;
	letter-spacing: -0.02em;
}

#logo a {
	color: #888;
	text-decoration: none;
}

#logo img {
	vertical-align: top;
	margin-right: 0.1em;
}

ul.related {
    list-style-type: none;
    padding: 0;
    display: table;  table-layout: fixed;  width: 100%;
    margin: 0em -1em 1em -1em;
}

ul.related li {
    width: 1%;
    display: table-cell;
    padding: 0em 1em;
}

ul.related li strong {
    display: block;
    margin-bottom: 0.5em;
}

ul.related li + li {
    border-left: 1px solid #ccc;
}

ul.picks {
    list-style-type: none;
    padding: 0;
}

ul.picks li {
    padding: 1em 0em;
}

ul.picks li + li {
    border-top: 1px solid #ccc;
}

@media all and (max-device-width : 480px) {
	body {
		margin-top: 0;
		margin-bottom: 1em;
	}

	header {
		margin-bottom: 1em;
	}

	#logo {
		font-size: 2em;
	}

	#logo img {
		height: 1em;
		margin-top: 0.3em;
	}

	ul.related {
	    display: block;
	    margin: 0;
	}

	ul.related li {
		width: 100%;
	    display: block;
	    padding: 1em 0em;
	}

	ul.related li + li {
	    border-top: 1px solid #ccc;
	    border-left: 0px;
	}
}

@media only screen and (min-device-width : 480px) and (max-device-width : 1024px) {
	body {
		margin-top: 1em;
	}
}

#footer {
	font-size: 0.7em;
	text-align: center;
	margin-top: 5em;
}

.picks a {
	color: #222;
}

.adsense-main {
	margin: 1em 0em;
}