<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# medium-com: http://ogp.me/ns/fb/medium-com#">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimum-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="canonical" href="http://patheticfacts.com{{ page.url }}">
        <meta name="title" content="{{ page.title }}">
        <meta name="description" content="{{ page.description }}">
        <meta name="keywords" content="{{ page.keywords }}">
        <meta property="og:site_name" content="Pathetic Facts">
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:url" content="http://patheticfacts.com/">
        <meta property="og:image" content="">
        <meta name="twitter:site" content="@PatheticFacts">
        <link rel="publisher" href="https://plus.google.com/xxxx">
        <meta name="twitter:card" content="summary">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-precomposed-152.png">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-precomposed-120.png">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-precomposed-76.png">
        <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
        <meta property="og:description" content="{{ page.title }}">
        <meta property="og:type" content="website">
        <link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans:400,600' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-56575401-1', 'auto');
          ga('send', 'pageview');

        </script>
        <div id='wrapper'>
            <header>
                <div id="logo">
                    <img src="/img/patheticfacts.png" alt="Pathetic Facts logo" />
                    <a href="/">Pathetic Facts</a>
                </div>
            </header>
            {{content}}
        </div>
    </body>
</html>